<!-- dotastronomy.com specific -->
.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth {
	display: inline;
	float: left;
	margin-right: 20px;
	position: relative;
}
.one-fourth { width: 220px; }
.three-fourth { width: 700px; }
.last {
	clear: right;
	margin-right: 0 !important;
}

.avatar { float: left; }
.avatar img { width: 40px; margin-right: 10px; }

.talk { }
/* Reset some Wordpress styles */
.talk .messages p { margin: 0px; }
.talk .messages .bubble-inner, .talk .messages p { text-align: center!important; }


.slides ul { list-style: none; margin: 0px!important; padding: 0px; }
.slides ul li { height: auto; display: inline-block; }
.slide { margin-bottom: 20px; padding: 0px; background-image: none; }
.slide .timestamp { margin-bottom: 1em; }
.slide .pic img { width: auto; margin-bottom: 0px; }

ul.other-speakers { margin: 0px!important; }
ul.other-speakers li img { width: 100%; }
ul.speakers { margin: 0px; }

.download { background: #474ff7; }
.download { position: relative; display: inline-block; padding: 0px; text-shadow: none; line-height: 32px; min-height: 32px; padding: 0 8px 0 0; }
.download ul { margin: 0px; display: inline-block; padding: 0px; }
.download ul li { margin: 0px; padding: 0px; line-height: 32px; background-image: none; display: inline-block; }
.download .download-inner { height: 32px; width: 150px; float: left; color: white; cursor: pointer; }
.download .downloadbtn, .videolinks .vimeobtn { width: 32px; height: 32px; float: left; }
.videolinks .vimeobtn {background: #44bbff;}
.download ul.sub-menu {
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 0 rgba(0, 0, 0, 0.05) inset;
    font-weight: normal;
    left: 0px;
    padding: 15px;
    position: absolute;
    top: 32px;
    z-index: 999;
}
.download ul.sub-menu li { width: 100%; border-bottom: 1px solid #E9E9E9; }
.download ul.sub-menu li:last-child { border: 0px; }
.download ul.sub-menu.inactive a { color: white; }
.download ul.sub-menu.inactive {
	background-color: transparent;
	color: white;
	position: relative;
	display: inline-block;
	box-shadow: none;
	top: 0px;
	padding: 0px 0px 0px 8px;
	margin-left: 8px;
}
.download ul.sub-menu.inactive li {	margin-right: 8px; }

a.vimeo {
	background: #44bbff;
	height: 27px; width: 125px; float: left; color: white; cursor: pointer;
	padding: 5px 0 0 1px;
}

img.vimeoicon {
	width:80%;
	padding: 10% 0 0 10%;
	opacity:0.9;
}

.dotastrotalk .audio, .dotastrotalk .credits { clear: both; max-width: 100%; margin-bottom: 8px; }
.dotastrotalk .credits ul { margin: 0px; }
.dotastrotalk .credits ul li { display: inline-block; margin-right: 6px; font-size: 80%; }

.dotastrotalk .slides h3, .dotastrotalk .messages h3 { margin: 0px; line-height: 1em; }

.dotastrotalk .messages { clear: both; max-width: 100%; margin-left: 0px; margin-top: 20px; }
.dotastrotalk .messages h3 { line-height: 40px; margin-left: 0px; }
.dotastrotalk .messages ul { list-style: none; margin: 0px; padding: 0px; }
.dotastrotalk .messages ul li { position: relative; margin: 0px; border-bottom: 1px solid #D3D3D3; clear: both; padding: 8px 0px; background-image: none; }
.dotastrotalk .messages .timestamp { font-weight: bold; display: inline-block; margin-right: 0.1em; }
.dotastrotalk .messages time { display: inline-block; }
.dotastrotalk .messages .tweet { overflow: hidden; }
.dotastrotalk .messages .tweet .bubble { float: left; margin-right: 40px; }
.dotastrotalk .messages .tweet .bubble p { margin: 0px; }
.messages .tweet .tweeter { position: absolute; top: 0px; right: 0px; }
.dotastrotalk .messages .profile_image { display: block; width: 38px; }
.dotastrotalk .messages .profile_image img { width: 38px;  height: auto; margin: 0px;}

.dotastrotalk .messages { display: inline-block; margin-top: 0px; }
.dotastrotalk .messages h3 { line-height: 1em; margin-left: 0.75em; margin-bottom: 0.5em; }
.dotastrotalk .messages ul { margin: 0.5em 0 0 0; height: 500px; overflow: auto; padding: 0px; list-style: none; }
.dotastrotalk .messages ul li { border: 0px; margin-left: 0.75em;background: none; padding: 0px; margin-bottom: 0.75em; margin-right: 5px; position:relative; display: block; }
.dotastrotalk .messages .tweeter { position: relative; margin: 0px 0px; display: block; text-align: center; }
.dotastrotalk .messages .tweeter .profile_image { display: inline-block; width: 100%; height: auto; margin: 0px; }
.dotastrotalk .messages .tweeter .profile_image a {  }
.dotastrotalk .messages .timestamp { display: inline-block; }
.dotastrotalk .messages .timestamp:after { content: ":" }

.dotastrotalk .messages .note .bubble { background-color: #d9daf7!important; }
.dotastrotalk .messages .tweet .bubble { background-color: #E9E9E9!important; }

.dotastrotalk .messages .bubble p { margin: 0px; }
.dotastrotalk .messages .bubble { float: none; line-height: 1.25em; min-height: 2em; background: #202020; position: relative; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; border-radius: 0.5em; padding: 1em; margin: 0em; text-align: center; box-shadow: 1px 1px 4px rgba(0,0,0,0.0); }
.dotastrotalk .messages .bubble:before,.bubble:after { content:""; position: absolute; width: 0; height: 0; }
.dotastrotalk .messages .bubble.bubble-east { text-align: left; margin: 0 0 0 0em; }
.dotastrotalk .messages .bubble.bubble-east:before { right: 100%; top: 50%; margin: -0.75em 0 0 0; border-top: 0.75em solid transparent; border-right: 0.75em solid #d9daf7; border-bottom: 0.75em solid transparent; }
.dotastrotalk .messages .bubble.bubble-north { text-align: center; margin: 0 0 0.75em 0em; }
.dotastrotalk .messages .bubble.bubble-north:after { left: 50%; top: 100%; margin: 0 0 0 -0.75em; border-left: 0.75em solid transparent; border-top: 0.75em solid #E9E9E9; border-right: 0.75em solid transparent; }
.dotastrotalk .messages .ieold .bubble-north:before {_border-top-color: pink,_border-right-color: pink,_border-left-color:pink,_filter:chroma(color=pink);}
.dotastrotalk .messages .ieold .bubble-east:before {_border-top-color: pink,_border-bottom-color: pink,_border-left-color:pink,_filter:chroma(color=pink);}

@media only screen and (max-width: 959px){
	.slides { max-width: 100%!important; }
	.dotastrotalk .slide-holder { width: 100%!important; }
	.dotastrotalk .message-holder { width: 100%; }
	.dotastrotalk .messages h3 { margin-left: 0px; line-height: 40px; }
	.dotastrotalk .messages ul li { margin: 0px; margin-bottom: 0.75em; }
	ul.other-speakers li { height: auto; margin-bottom: 20px; }
	ul.other-speakers li img { max-width: 100%; }
}